* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#start-screen {
    height: 720px;
    position: relative;
}


.bigCauldron {
    position: absolute;
    display: flex;
    bottom: 2px;
    left: 30px;
}

#title {
    color: #bc4440;
    font-size: 140px;
    position: absolute;
    top: 20px;
    left: 50px;
}

#start-button {
    width: 400px;
    height: 70px;
    border-radius: 50px;
    position: absolute;
    left: 30vmin;
    top: 60vmin;
    background-color: rgb(59, 59, 59);
    font-size: 50px;
    color: #bc4440;
    font-style: italic;
}

/* #instructions-button {
    width: 400px;
    height: 70px;
    border-radius: 50px;
    position: absolute;
    left: 30vmin;
    top: 72vmin;
    background-color: rgb(59, 59, 59);
    font-size: 50px;
    color: #bc4440;
    font-style: italic;
} */

#restart-button {
    width: 300px;
    height: 140px;
    border-radius: 50px;
    position: absolute;
    left: 108vmin;
    top: 50vmin;
    background-color: rgb(59, 59, 59);
    font-size: 50px;
    color: #bc4440;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}


#game-screen {
    display: none;
    position: relative;
}

#witch {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 220px;
    left: 500px;
}

#cauldron {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 468px;
    left: 370px;
}

#instructions-screen {
    display: none;
    position: relative;
}


.potions {
    position: absolute;
    height: 150px;
    width: 110px;
}
.potions, img {
    padding: 0;
    margin: 0;
}

.potions-transform:hover {
    transform: scale(1.2);
}


.score, .time {
    font-size: 30px;
    color: whitesmoke;
    font-weight: bold;
    position: absolute;
    top: 660px;
}


.recipeStr {
    font-size: 30px;
    color: #bc4440;
    font-weight: bold;
    position: absolute;
    top: 60px;
    left: 540px;
}

.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 125px;
    left: 506px;
    
}

.flexbox-item {
 /*    width: 70px;
    height: 70px;
    margin: 10px;
    border: 4px solid black;
    background-color: rgb(144, 40, 151); */
}

.random-image {
    width: 80px;
    height: 80px;
    display: flex;
    position: relative;
    left: 18px;
    /* border: 4px solid aquamarine; */
}

.recipePotions {
    position: absolute;
}

.score {
    left: 50px
}

.time {
    right: 200px
}

#end-screen {
    display: none;
    position: relative;
}



#potion1 {
    /* border: 4px solid red; */
    left: 110px;
    top: 90px;
}

#potion2 {
    /* border: 4px solid red; */
    left: 212px;
    top: 80px;
}

#potion3 {
    /* border: 4px solid red; */
    left: 310px;
    top: 70px;
}

#potion4 {
    /* border: 4px solid red; */
    left: 110px;
    top: 290px;
}

#potion5 {
    /* border: 4px solid red; */
    left: 212px;
    top: 270px;
}

#potion6 {
    /* border: 4px solid red; */
    left: 310px;
    top: 230px;
}

#potion7 {
    /* border: 4px solid red; */
    left: 110px;
    top: 460px;
}

#potion8 {
    /* border: 4px solid red; */
    left: 212px;
    top: 420px;
}

#potion9 {
    /* border: 4px solid red; */
    left: 310px;
    top: 390px;
}

#potion10 {
    /* border: 4px solid red; */
    left: 850px;
    top: 70px;
}

#potion11 {
    /* border: 4px solid red; */
    left: 950px;
    top: 80px;
}

#potion12 {
    /* border: 4px solid red; */
    left: 1050px;
    top: 90px;
}

#potion13 {
    /* border: 4px solid red; */
    left: 850px;
    top: 230px;
}


#potion14 {
    /* border: 4px solid red; */
    left: 950px;
    top: 260px;
}

#potion15 {
    /* border: 4px solid red; */
    left: 1050px;
    top: 290px;
}

#potion16 {
    /* border: 4px solid red; */
    left: 850px;
    top: 400px;
}


#potion17 {
    /* border: 4px solid red; */
    left: 950px;
    top: 420px;
}

#potion18 {
    /* border: 4px solid red; */
    left: 1050px;
    top: 460px;
}