* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#start-screen {
    display: block;
    position: relative;
}

#title {
    color: #bc4440;
    font-size: 140px;
    position: relative;
    top: 200px;
    left: 50px;
}

#start-button {
    width: 400px;
    height: 70px;
    border-radius: 50px;
    position: absolute;
    left: 24vmin;
    top: 60vmin;
    background-color: rgb(59, 59, 59);
    font-size: 50px;
    color: #bc4440;
    font-style: italic;
}

#game-screen {
    display: none;
    position: relative;
}

.potions {
    position: absolute;

}
.potions, img {
    padding: 0;
    margin: 0;
}
.score, .time {
    font-size: 30px;
    color: whitesmoke;
    font-weight: bold;
    position: absolute;
    top: 660px;
}

.recipeStr {
    font-size: 30px;
    color: #bc4440;
    font-weight: bold;
    position: absolute;
    top: 60px;
    left: 540px;
}

.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 125px;
    left: 506px;
    
}

.flexbox-item {
 /*    width: 70px;
    height: 70px;
    margin: 10px;
    border: 4px solid black;
    background-color: rgb(144, 40, 151); */
}

.random-image {
    width: 80px;
    height: 80px;
    display: flex;
    position: relative;
    left: 18px;
    border: 4px solid aquamarine;
}

.recipePotions {
    position: absolute;
}

.score {
    left: 50px
}

.time {
    right: 200px
}

#end-screen {
    display: none;
}



#potion1 {
    border: 4px solid red;
    left: 110px;
    top: 80px;
}